<div class="example-header">
    <mat-form-field>
        <label style="margin-bottom: 0">Search: </label>
      <input matInput (keyup)="applyFilter($event.target.value)"  style="width: 250px; BORDER-BOTTOM: 1px #9e9e9e solid;">
      <button (click)="applyFilter('')">Reset</button>
    </mat-form-field>
    </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- rel_name Column 
      <ng-container matColumnDef="rel_name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.rel_name}} </mat-cell>
      </ng-container>-->
  
      <!-- parent_acc_no Column -->
      <ng-container matColumnDef="parent_acc_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Parent Acc No </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.parent_acc_no}} </mat-cell>
      </ng-container>
  
      <!-- child_acc_no Column -->
      <ng-container matColumnDef="child_acc_no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Child Acc No </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.child_acc_no}} </mat-cell>
      </ng-container>
  
      <!-- Stage Column -->
      <ng-container matColumnDef="stage">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Stage </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.stage}} </mat-cell>
      </ng-container>

       <!-- association Column -->
       <ng-container matColumnDef="association">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Association </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.association}} </mat-cell>
        </ng-container>

        <!-- Percentage Column -->
       <ng-container matColumnDef="percentage">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Percentage </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.percentage}} </mat-cell>
        </ng-container>

         <!-- state Column -->
      <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns" style="border-color: #c3c3c3;font-weight: 600;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" style="border-color: #c3c3c3;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSize]= "5" ></mat-paginator> <!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
  </div>
  